.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar .left {
  padding-top: 1rem;
  padding-left: 1rem;
}
.navbar .left h1 {
  font-size: 25px;
  color: #4062FF;
}
.navbar .left p {
  font-size: 8px;
  letter-spacing: 5px;
  color: #383838;
  text-transform: uppercase;
}
.navbar .right {
  background: #4062FF;
  padding: 0 0 0 2.5rem;
  border-radius: 10px 0 0 10px;
  box-shadow: 3px 3px 8px rgba(136, 136, 136, 0.5960784314);
  transition: 1s;
  z-index: 1;
}
.navbar .right .navelem {
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}
.navbar .right .navelem a {
  text-decoration: none;
  width: 100%;
}
.navbar .right .navelem li {
  list-style-type: none;
  display: none;
  background: #738cfc;
  transition: 1s;
}
.navbar .right .navelem li i {
  margin-left: 15px;
  color: white;
  transition: 1s;
}
.navbar .right .navelem li p {
  color: white;
  transition: 1s;
}
.navbar .right.open {
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  border-radius: 0;
}
.navbar .right.open ul {
  padding-top: 65px;
  margin: auto;
}
.navbar .right.open li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin: auto;
  margin-bottom: 1px;
  padding: 30px 30px 30px 0;
}
.navbar .right.open li:hover {
  background: #4062FF;
}
.navbar .hambergur {
  position: relative;
  top: 21px;
  right: 17px;
  display: block;
  width: 25px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}
.navbar .hambergur:after, .navbar .hambergur:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 3px 0;
  transition: 0.4s;
}
.navbar .hambergur .bar {
  content: "";
  display: block;
  width: 70%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 3px 0;
  transition: 0.4s;
}
.navbar .hambergur.isActive:after {
  transform: rotate(-45deg) translate(3px, -7px);
}
.navbar .hambergur.isActive:before {
  transform: rotate(45deg) translate(2px, 5px);
}
.navbar .hambergur.isActive .bar {
  opacity: 0;
}

.footer {
  padding-top: 1rem;
  background: #090d2c;
  color: white;
}
.footer .upprft {
  max-width: 1050px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer .upprft .left {
  display: flex;
  flex-direction: column;
}
.footer .upprft .left a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.footer .upprft .right {
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.footer .upprft .right h3 {
  font-size: 19px;
  font-weight: 500;
}
.footer .upprft .right hr {
  width: 50%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
.footer .upprft .right a {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.footer .lowerft {
  max-width: 1050px;
  margin: auto;
  padding-bottom: 0.5rem;
}
.footer .lowerft a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.footer .lowerft hr {
  width: 80%;
  margin: 10px auto;
}
.footer .lowerft h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
}

@media only screen and (min-width: 760px) {
  .navbar .left h1 {
    font-size: 25px;
  }
}/*# sourceMappingURL=comp.css.map */